utils/coins_config*.json merge=ours
utils/electrum_scan_report.json merge=ours
utils/scan_summary.json merge=ours
utils/spritemap.json merge=ours
utils/spritemap.png merge=ours
utils/uptime_history.json merge=ours
utils/icon_checksums.json merge=ours
icons/*.png merge=ours
